<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <h1>
        Enquete Minor Web Development
    </h1>
    <form action="">
        <fieldset>
            <br>
            <legend>Persoonsgegevens</legend>
            <label for="">Naam:</label>
            <br>
            <input type="text">
            <br>
            <br>
            <label for="">Nummer:</label>
            <br>
            <input type="text">
            <br>
            <br>
        </fieldset>
    </form>
</body>

</html>