<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <h1>
        Bedankt voor het invullen van de enquête!
    </h1>
    <a href="/">Antwoorden wijzigen</a>
</body>

</html>