<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <header>
        <h1>
            Bedankt voor het invullen van de enquête!
        </h1>
    </header>
    <main>
        <p>Wil je nog een aantal antwoorden wijzigen?</p>
        <label for="change">Welk vak zou je willen wijzigen?</label>
        <select name="change" id="change">
            <option value="/" selected>Persoonsgegevens</option>
            <option value="wafs">Web Apps From Scratch</option>
            <option value="rescue">CSS to the Rescue</option>
            <option value="pwa">Progressive Web Apps</option>
            <option value="bt">Browser Technologies</option>
            <option value="rtw">Real Time Web</option>
            <option value="hcd">Human Centered Design</option>
        </select>
        <a id="change_answers_button" href="/">Antwoorden wijzigen</a>
    </main>
</body>

</html>