*, *::before, *::after {
    margin: 0;
    padding: 0;
}

br {
    display: none;
}

body::before {
    content: '';
    background-color: bisque;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #AC3B61;
    width: 85vw;
    max-width: 72rem;
    margin: auto;
    text-align: center;
}

header {
    margin-top: clamp(2.5rem, 4.65vw, 3.925rem);
}

h1 {
    font-size: clamp(2rem, 4.183vw, 3.5rem);
}

p {
    margin: clamp(0.75rem, 1.395vw, 1.3rem) 0 clamp(2rem, 3.72vw, 3.14rem);
}

p, legend {
    font-size: clamp(1rem, 1.86vw, 1.57rem);
}

fieldset {
    max-width: 50rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    border: 1.5px solid #AC3B61;
    border-radius: 0.5rem;
    margin: clamp(2rem, 3.72vw, 3.14rem) auto 0;
    padding: clamp(0.5rem, 1vw, 1rem);
}

legend {
    font-weight: bold;
    padding: 0 clamp(0.5rem, 0.93vw, 0.785rem);
    margin: auto;
}

label {
    font-size: clamp(1rem, 1.86vw, 1.3rem);
    width: fit-content;
    margin-bottom: clamp(0.15rem, 0.279vw, 0.25rem);
}

input,
textarea,
select {
    font-size: clamp(0.83rem, 1.395vw, 1.1rem);
    padding: clamp(0.1rem, 0.168vw, 0.15rem);
}

input[type="text"] {
    width: 50vw;
    max-width: 25rem;
}

input[type="date"] {
    max-width: 15rem;
}

input[type="text"],
fieldset div,
textarea {
    margin-bottom: clamp(0.75rem, 1.395vw, 1.3rem);
}

fieldset div:first-of-type {
    width: 100%;
}

fieldset div:first-of-type>* {
    width: 45%;
}

fieldset div:nth-of-type(2) label {
    cursor: pointer;
    border: 1.5px solid #AC3B61;
    padding: 0.05rem 0.4rem;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label {
    background-color: #AC3B61;
    color: bisque;
    text-decoration: underline;
}

input:not([type="submit"]):focus,
textarea:focus,
select:focus {
    outline: none;
    border: 1.5px solid #AC3B61;
}

textarea {
    width: 70vw;
    max-width: 40rem;
}

form>div {
    max-width: 55rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: clamp(0.75rem, 1.395vw, 1.3rem) auto;
}

form>div p {
    font-style: italic;
    margin: 0;
}

a:not(#change_answers_button)::before {
    content: '\003C';
    margin-right: clamp(0.25rem, 0.462vw, 0.35rem);
}

button::after {
    content: '\003E';
    margin-left: clamp(0.25rem, 0.462vw, 0.35rem);
}

a::before,
button::after {
    font-weight: 400;
    font-size: clamp(135%, 2.475vw, 1.75rem);
}

button,
a {
    display: flex;
    align-items: center;
    font-size: clamp(120%, 2.2vw, 1.5rem);
    font-weight: bold;
    text-decoration: none;
    color: #AC3B61;
    background-color: unset;
    border: none;
}

button:hover, a:hover, input[type="submit"]:hover {
    cursor: pointer;
}

button:focus,
a:focus {
    outline: 2px dashed #AC3B61;
}

input[type="submit"],
#change_answers_button {
    font-weight: bold;
    font-size: clamp(120%, 2.2vw, 2rem);
    color: #AC3B61;
    background-color: unset;
    border: 3px solid #AC3B61;
    border-radius: clamp(0.5rem, 0.93vw, 0.867rem);
    padding: clamp(0.5rem, 0.93vw, 0.867rem) clamp(0.25rem, 0.465vw, 0.433rem);
    margin-top: clamp(1.5rem, 2.79vw, 2.6rem);
}

input[type="submit"]:hover, input[type="submit"]:focus,
#change_answers_button:hover, #change_answers_button:focus {
    outline: none;
    background-color: #AC3B61;
    color: bisque;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

select {
    width: 50vw;
    max-width: 15rem;
}

#change_answers_button {
    width: fit-content;
    margin: clamp(2rem, 4.183vw, 3.5rem) auto;
}

.hidden {
    display: none;
}

@supports not (display: flex) {
    br {
        display: block;
    }
}

@supports (transform: scale(1.15)) and (transition: transform 0.5s) {
    button:hover, button:focus,
    a:hover, a:focus,
    input[type="submit"]:hover, input[type="submit"]:focus {
        transform: scale(1.15);
        transition: transform 0.5s;
    }
}

@supports not (clamp()) {
    header {
        margin-top: 2.5rem;
    }
    
    p {
        margin: 0.75rem 0 2rem;
    }
    
    fieldset {
        margin: 2rem auto 0;
        padding: 0.5rem;
    }
    
    legend {
        padding: 0 0.5rem;
    }
    
    label {
        margin-bottom: 0.15rem;
    }
    
    input,
    textarea {
        padding: 0.1rem;
    }
    
    input[type="text"],
    fieldset div,
    textarea {
        margin-bottom: 0.75rem;
    }

    form>div {
        margin: 0.75rem auto;
    }

    a:not(#change_answers_button)::before {
        margin-right: 0.25rem;
    }
    
    button::after {
        margin-left: 0.25rem;
    }
    
    a::before,
    button::after {
        font-size: 135%;
    }
    
    button,
    a {
        font-size: 120%;
    }

    input[type="submit"],
    #change_answers_button {
        font-size: 120%;
        border-radius: 0.5rem;
        padding: 0.5rem 0.25rem;
        margin-top: 1.5rem;
    }
    
    #change_answers_button {
        margin: 2rem auto;
    }
}
